<div id="about-wrapper">
    <div id="about-header-section">
        <div id="head-section">
            <div id="about-title">
                <h1>Über mich</h1>
            </div>
            <div id="about-subtitle">
                <h3>Wer bin ich und wenn ja, wie viele?</h3>
            </div>
            <div id="head-section-breadcrumps">
                <ul class="breadcrumbs">
                    <li id="breadcrumps-home"><i class="bi bi-house-door-fill" role="button"></i></li>
                    <li id="breadcrumps-divider"><i class="bi bi-arrow-left" id="breadcrumps-divider-icon"></i></li>
                    <li id="breadcrumps-currentPage">Über mich</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="about-content">
        <div id="about-img">
            <div><img src="../../../assets/pics/Andreas Ausschnitt schmaler.jpg" class="imgae-fluid" alt="Andreas Chilinsky"/></div>
            </div>
        <div id="about-section-container">
            <div class="about-section">
                <div class="section-title">
                    <h4>Wer bin ich, wer war ich</h4>
                </div>
                <div class="section-content"><i class="bi bi-quote"></i>...........<i class="bi bi-quote"></i></div>
            </div>
            <div class="about-section">
                <div class="section-title">
                    <h4>Meine Motivation zu schreiben</h4>
                </div>
                <div class="section-content"><i class="bi bi-quote"></i>...........<i class="bi bi-quote"></i></div>
            </div>
            <div class="about-section">
                <div class="section-title">
                    <h4>Über meine Schriften</h4>
                </div>
                <div class="section-content"><i class="bi bi-quote"></i>...........<i class="bi bi-quote"></i></div>
            </div>
            <div class="about-section">
                <div class="section-title">
                    <h4>Warum diese Seite</h4>
                </div>
                <div class="section-content"><i class="bi bi-quote"></i>...........<i class="bi bi-quote"></i></div>
            </div>
        </div>
    </div>
</div>