<div class="side-nav-container" id="side-nav-container">
  <div class="side-nav-list" id="side-nav-list">
    <div>
      <button class="side-nav-container-item" type="button">Alle Gedichte</button>
    </div>
    <div class="dropdown mt-3" id="dropdown-container">
      <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown">
        Kategorien
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Leben</a></li>
        <li><a class="dropdown-item" href="#">Liebe</a></li>
        <li><a class="dropdown-item" href="#">Erotisches</a></li>
        <li><a class="dropdown-item" href="#">Philosophisches</a></li>
        <li><a class="dropdown-item" href="#">Tod</a></li>
      </ul>
    </div>
    <hr>
    <div>
      <button class="side-nav-container-item" type="button" (click)="about()">Über mich</button>
    </div>
    <div>
      <button class="side-nav-container-item" type="button">Kommentare</button>
    </div>
    <div>
      <button class="side-nav-container-item" type="button">Kontakt</button>
    </div>
    <div>
      <button class="side-nav-container-item" type="button">Sonstiges</button>
    </div>
  </div>
</div>