<div id="side-nav-wrapper">
  <div>
    <button class="side-nav-container-item" type="button">Alle Gedichte</button>
  </div>
  <div class="dropdown" id="dropdown-container">
    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown">
      Kategorien
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" role="button" (click)="setCategory('Leben')">Leben</a></li>
      <li><a class="dropdown-item" role="button" (click)="setCategory('Liebe')">Liebe</a></li>
      <li><a class="dropdown-item" role="button" (click)="setCategory('Erotisches')">Erotisches</a></li>
      <li><a class="dropdown-item" role="button" (click)="setCategory('Philosophisches')">Philosophisches</a></li>
      <li><a class="dropdown-item" role="button" (click)="setCategory('Tod')">Tod</a></li>
    </ul>
  </div>
  <div>
    <button class="side-nav-container-item" type="button">Über mich</button>
  </div>
  <div>
    <button class="side-nav-container-item" type="button">Kommentare</button>
  </div>
  <div>
    <button class="side-nav-container-item" type="button">Kontakt</button>
  </div>
</div>