<div id="side-nav-wrapper">
  <div>
    <button class="side-nav-container-item" type="button" routerLink="/home">Startseite</button>
  </div>
  <div class="dropdown" id="dropdown-container">
    <button class="dropdown" type="button" data-bs-toggle="dropdown">
      Gedichtkategorien
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" role="button" (click)="setCategory('Leben')" routerLink="/poems/life">Leben</a></li>
      <li><a class="dropdown-item" role="button" (click)="setCategory('Liebe')" routerLink="/poems/love">Liebe</a></li>
      <li><a class="dropdown-item" role="button" (click)="setCategory('Erotisches')" routerLink="/poems/erotics">Erotisches</a></li>
      <li><a class="dropdown-item" role="button" (click)="setCategory('Philosophisches')" routerLink="/poems/philosophics">Philosophisches</a></li>
      <li><a class="dropdown-item" role="button" (click)="setCategory('Religiöses')" routerLink="/poems/religious">Religiöses</a></li>
      <li><a class="dropdown-item" role="button" (click)="setCategory('Tod')" routerLink="/poems/death">Tod</a></li>
      <li><a class="dropdown-item" role="button" (click)="setCategory('Personifiziertes')" routerLink="/poems/humans">Personifiziertes</a></li>
    </ul>
  </div>
  <div>
    <button class="side-nav-container-item" type="button" routerLink="about">Über mich</button>
  </div>
  <div>
    <button class="side-nav-container-item" type="button" routerLink="comments">Kommentar</button>
  </div>
  <div>
    <button class="side-nav-container-item" type="button" routerLink="contact">Mail</button>
  </div>
</div>