.landing-page-wrapper{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
}

.header-img{
    margin: 3rem auto;
}

.header-img img{
    width: 95vw;
    height: 350px;
    border-radius: .25rem;
}

#landing-page-author-domain-container{
    width: 100%;
    display: grid;
    justify-content: center;
    row-gap: 3rem;
    margin-top: 5rem;
}

.landing-page-author-domain{
    padding:0;
    margin:0;
}

.landing-page-author-domain h1 {
    padding: 0;
    margin: 0;
    text-align: center;
}

.landing-page-author-domain h4{
    padding: 0;
    margin: 0;
    text-align: center;

}

#author-container{

}

#domain-container{

}

navigation{
    margin-top: 5rem;
}

footer{
    margin-top: 10rem;
}