.header-nav{
    position:relative;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    row-gap: 1rem;
    font-weight: bold;
    min-height: 100%;
    padding-bottom: 8rem;
}

.header-nav-nav{
    pointer-events: none;
}

#author-container.header-nav-author-domain h1{
    font-size: 2rem;
    font-weight: bold;
    margin: 1.25rem auto;
}

#author-container.header-nav-author-domain:hover h1{
    pointer-events: none;
}

#domain-container.header-nav-author-domain h4{
    font-size: 1.25rem;
    font-weight: lighter;
    margin-top: 1rem;

}

#domain-container.header-nav-author-domain:hover h4{
    pointer-events: none;
}

.header-nav-author-domain{
    text-align: center;
}

.header-nav-wide{
    display:flex;
    width: inherit;
    
}

.header-nav-wide img{
    width: 100%;
}

.section-divider hr{
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.lyrics-speach{
    display: grid;
    width: 75%;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    margin: 0 auto 4rem auto;
}

.lyrics-speach-content-poetry:hover h3{
    pointer-events: none;
}

.lyrics-speach-content-speaker:hover h4{
    pointer-events: none;
}
