.header-nav{
    position:relative;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    row-gap: 1rem;
    font-weight: bold;
    min-height: 100%;
    padding-bottom: 8rem;
}

#author-container.header-nav-author-domain{
}

#author-container.header-nav-author-domain h1{
    font-size: 2rem;
    font-weight: bold;
}

#domain-container.header-nav-author-domain h4{
    font-size: 1.25rem;
    font-weight: lighter;

}

.header-nav-author-domain{
    text-align: center;
}

.header-nav-wide{
    display:flex;
    width: inherit;
    
}

.header-nav-wide img{
    width: 100%;
}

.header-nav-items-container{
    display:flex;
    flex-direction: row;
    width:100vw;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.header-nav-items-container-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 8rem;
} 

.header-nav-items-container-item:hover{
    border-radius: .5rem;
    background-color: white;
    cursor: pointer;
    overflow: auto;
}

.header-nav-items-container-item-logo{
    text-align: center;
    padding: .25rem;
}

.header-nav-items-container-item-logo img{
    border-radius: 1.5rem;
}

.header-nav-items-container-item-description p{
    margin: 0;
    padding: .25rem;
}

.section-divider hr{
    width: 90%;
    text-align: center;
    margin: 0 auto;
}