<div class="header-nav" id="header-nav">
    <div class="header-nav-wide" id="header-logo">
        <img src="../../../assets/pics/hazynature_small_second.jpg">
    </div>
    <div class="header-nav-author-domain" id="author-container">
        <h1>{{author}}</h1>
    </div>
    <div class="header-nav-author-domain" id="domain-container">
        <h4>{{domain}}</h4>
    </div>
    <div class="section-divider">
        <hr>
    </div>
    <div class="header-nav-items-container" id="header-nav-items-container" role="link" routerLink="hello">
        <div class="header-nav-items-container-item" id="itemImage">
            <div class="header-nav-items-container-item-logo">
                <img src="../../../assets/icons/poem_50x50.jpg" tabindex="0"/>
            </div>
            <div class="header-nav-items-container-item-description">
                <p>Gedichte</p>
            </div>
        </div>
        <div class="header-nav-items-container-item" id="itemImage" role="link" routerLink="/">
            <div class="header-nav-items-container-item-logo">
                <img src="../../../assets/icons/aboutMe_50x50.jpg" tabindex="1"/>
            </div>
            <div class="header-nav-items-container-item-description">
                <p>Über mich</p>
            </div>
        </div>
        <div class="header-nav-items-container-item" id="itemImage" role="link" routerLink="/">
            <div class="header-nav-items-container-item-logo">
                <img src="../../../assets/icons/comments_50x50.jpg" tabindex="2"/>
            </div>
            <div class="header-nav-items-container-item-description">
                <p>Kommentare</p>
            </div>
        </div>
        <div class="header-nav-items-container-item" id="itemImage" role="link" routerLink="/">
            <div class="header-nav-items-container-item-logo">
                <img src="../../../assets/icons/contact_50x50.jpg" tabindex="3"/>
            </div>
            <div class="header-nav-items-container-item-description">
                <p>Kontakt</p>
            </div>
        </div>
    </div>
    <footer></footer> 
</div>
   

