<div class="landing-page-wrapper" id="landing-page">
    <div class="header-img" id="header-img">
        <img src="../../../assets/pics/landing_fog.jpg" routerLink='/poems/leben' >
    </div>
    <div id="landing-page-author-domain-container">
        <div class="landing-page-author-domain" id="author-container">
            <h1>{{author}}</h1>
        </div>
        <div class="landing-page-author-domain" id="domain-container">
            <h4 class="astonScript">{{domain}}</h4>
        </div>
    </div>
    <navigation></navigation>
    <footer></footer>
</div>