.header-nav-items-container{
    display:flex;
    flex-direction: row;
    width:100vw;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-secondary dropdown-toggle{
    background-color: aliceblue;
}