<div class="header-nav-items-container" id="header-nav-items-container" role="button" routerLink="hello" tabindex="none" (click)="hello()">
    <navigation-item [title]="navItemsTitle[0]" [url]="navItemsUrl[0]"></navigation-item>
    <navigation-item [title]="navItemsTitle[1]" [url]="navItemsUrl[1]"></navigation-item>
    <navigation-item [title]="navItemsTitle[2]" [url]="navItemsUrl[2]"></navigation-item>
    <navigation-item [title]="navItemsTitle[3]" [url]="navItemsUrl[3]"></navigation-item>
</div>



    