<div class="header-nav-items-container" id="header-nav-items-container" role="button" routerLink="hello" tabindex="none">
    <navigation-item [title]="navItemsTitle[0]" [url]="navItemsUrl[0]" [route]="navItemRoutes[0]"></navigation-item>
    <navigation-item [title]="navItemsTitle[1]" [url]="navItemsUrl[1]" [route]="navItemRoutes[1]"></navigation-item>
    <navigation-item [title]="navItemsTitle[2]" [url]="navItemsUrl[2]" [route]="navItemRoutes[2]"></navigation-item>
    <navigation-item [title]="navItemsTitle[3]" [url]="navItemsUrl[3]" [route]="navItemRoutes[3]"></navigation-item>
</div>



    