#create-wrapper{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 0 auto;
    gap: 4rem;
    margin-top: 2rem;
}

form{
    display: flex;
    flex-direction: column;
}

#header{
    margin: 0;
}

#content{
    font-size: 1rem;
}