#poem-wrapper {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 5% 90% 5%;
    justify-content: center;
    gap: 4rem;
    font-size: 1.2rem;
}

#poem-content-wrapper {
    display: flex;
    justify-content: space-evenly;
    grid-row: 2;
    grid-column: 2;
    width: 80%;
    justify-self: center;
}

side-nav {
    grid-row: 1;
    grid-column: 1/4;
}

footer {
    grid-row: 3;
    grid-column: 1/4;
    padding: .5rem;
}

#router-outlet{
    grid-row: 2;
    grid-column: 2;
    margin: 0 auto;
}

#poem-left {
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
    margin: 0 auto;
}

#poem-right {
    grid-row: 2;
    grid-column: 2;
}

#last-poem{
    grid-row: 2;
    grid-column: 2;
    justify-content: center;
}

.nav-arrow {
    font-size: 2rem;
    padding: .5rem;
    margin: 1rem;
    margin-top: 35rem;
    display: flex;
}

#arrow-left {
    position: fixed;
    display: flex;
    width: 10%;
    justify-content: left;
    grid-row: 2;
    grid-column: 1;
    justify-self: right;
}

#arrow-right {
    position: fixed;
    display: flex;
    width: 10%;
    justify-content: right;
    grid-row: 2;
    grid-column: 3;
    justify-self: left;
}