<div class="poem-wrapper" id="poem-wrapper">
    <div class="head-controller" id="headController">
        <div class="head-controller-headline" id="head-controller-headline">    
            <h1 id="head-controller-headline-headline">Meine Gedichte</h1>
            <p>meine Schriften | mein Leben | Gefühl gespiegelt</p>
        </div>
        <div class="breadcrumps" id="breadcrumps">    
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item" id="breadcrumps-previousPage"><img class="home-icon" src="../../../../assets/icons/home_30x30.jpg" alt="home" role="button" (click)="home()"/>
                  <li class="breadcrumb-item active" aria-current="page" id="breadcrumps-currentPage">Gedichte</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="poem-content">
        <h1>It´s Poem's Content</h1>
    </div>
       <side-nav></side-nav>
</div>
