<div id="poem-wrapper">
    <div id="poem-content-wrapper">
        <div id="poem-left">
            <router-outlet></router-outlet>
        </div>
        <div id="poem-right">
            <router-outlet></router-outlet>
        </div>
    </div>
    <side-nav></side-nav>
    <footer></footer>
    <div class="nav-arrow" id="arrow-right" role="button">
        <i class="bi bi-chevron-left"></i>
    </div>
    <div class="nav-arrow" id="arrow-left" role="button">
        <i class="bi bi-chevron-right"></i>
    </div>

</div>