.poem-wrapper{
    display: grid;
    width: 100%;
    min-height: 100%;
    grid-template-columns: 12% auto;
    grid-template-rows: auto auto auto;
    background-image: url('../../../../assets/pics/hazynature_113.jpg');
    padding:0;
    margin: 0;
}

.head-controller{
    width: 100%;
    grid-column: 2/3;
    grid-row: 1;
    margin-left: 4rem;
}

.head-controller-headline{
    width: 100%;
}

.head-controller-headline h1, p{
    padding:.5rem;
    pointer-events: none;
}

.head-controller-headline-headline{
    font-size: 2.5rem;
    justify-self: left;
}

.head-controller-headline p{
    font-size: 1.25rem;
}

.breadcrumps{
    justify-content: center;
    grid-column: 2/3;
    grid-row: 2/3;
    margin:0;
    padding: .5rem;
    width: fit-content;
}

ol.breadcrump{
    margin:0;
    align-self: center;
}

.breadcrumps a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

#breadcrumps-previousPage:hover a{
    text-decoration: underline;
}

#breadcrumps-currentPage {
    display: flex;
    font-weight: bold;
    text-decoration: underline;
    pointer-events: none;
    align-items: center;
}

#breadcrumps-currentPage li{
    align-self:center;
}

.poem-content{
    grid-row: 2/3;
    grid-column: 2/3;
    margin-left: 4rem;
    border: 2px solid black;
    display: grid;
    grid-template-columns: auto 25%;
    grid-template-rows: auto 10%;
}

side-nav{
    grid-column: 1;
    grid-row: 2;
    margin:0;
}

.side-nav p{
    margin:0;
    padding: .5rem;
    align-self: center;
}

.poem-content-poem-content{
    display: grid;
    grid-template-columns: auto;
    row-gap: 0;
    
}

/* Wrapper-table */
.poem-content-poem-table-container{
    display:grid;
    justify-content: center;
}

/* table */

.poem-content-poem-table{
    width: 100%;
}

/* table-head */

.poem-content-poem-table-header{
    background-color: rgba(0,0,0,0.1) ;
    display: grid;
    justify-content: center;
}

.poem-content-poem-header-table-head-row{
    height: 1rem;
}

.poem-content-poem-table-body{
}

.poem-content-poem-table-body-container{
    width: fit-content;
}
/* tr inside tbody */
.poem-content-poem-table-body-row{
}

/* td inside tbody.tr */
.poem-content-table-body-row-content{
    height: 1rem;
}

/* Paragraph inside tbody.tr.td */
.poem-content-poem-table-body-row-content-item{
    padding: 0;
    margin:0;
    line-height: 1rem;
}


footer{
    grid-column: 1/3;
    grid-row: 3;
}