#poem-wrapper{
    width: 100vw;
    min-height: 100vh;
}

#poem-head-section{
    display: grid;
    max-width: 100vw;
    justify-content: center;
    row-gap: 1rem;
}

side-nav{
    margin-top: 1rem;
}

#head-section-title h1{
    margin: 0;
    text-align: center;
    margin: 1rem auto;
}

.poem-content-subtitle{
    font-weight: 100;
    }

#poem-content-wrapper{
    display: grid;
    grid-template-columns: auto auto 1px auto auto;
    column-gap: 3rem;
    width: 100vw;
    margin-top: 1rem;
}

.poem-wrapper-content{
    display: grid;
}

.nav-icon{
    font-size: 3rem;
    align-self: center;
}
#nav-icon-left{
    grid-column: 1;
    justify-self: right;
}


#poem-content-left{
    grid-column: 2/3;
    justify-self: right;
    text-align: left;
}

.d-flex{
    width: fit-content;
    grid-column: 3;
    grid-row:1;
    justify-self: center;
    height: 95%;
    align-self: center;
}

#poem-content-right{
    grid-column: 4;
    grid-row: 1;
    width: fit-content;
    text-align: left;
}

#nav-icon-right{
    grid-column: 5;
    justify-self: left;
}

#content-finished{
    grid-column: 4;
    grid-row:1;
    align-self: center;
    justify-self: center;
}

#poem-content-left thead,tr,th,td{
}

#poem-content-right thead,tr,th,td{
}

td{
    height: 1.5rem;
}

th{
    height: 1.5rem;
}