.navigation-item{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: space-around;
}

#navigation-item-title{
    margin:0;
    padding:0;
}

.navigation-subNavigation{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.subNavigation-item h4{
    font-size: .8rem;
}
