.navigation-item-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

#navigation-item-title{
display: flex;
flex-direction: row;
font-size: 2rem;
margin:0;
text-align: center;
}

#flex-navigation-item-title{
display: flex;
flex-direction: row;
font-size: 2rem;
margin:0;
text-align: center;
}

#flex-navigation-item-title:hover{
    background-color: whitesmoke;
}

#navigation-item-title:hover{
    background-color: whitesmoke;
    border-radius: .5rem;
}

.navigation-item{
    display: flex;
    justify-content: left;

}

.navigation-subNavigation{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    column-gap: 1.5rem;
}

.item-container{
    display:flex;
    justify-content: left;
}

.nav-item{
    border: none;
    background-color: white;
    font-size: 1.3rem;
}

.nav-item:hover{
    background-color: whitesmoke;
    border-radius: .5rem;
}