<div id="navigation-item-wrapper">
    <div class="navigation-item">
        <h4 id="navigation-item-title">
            {{navItem.title}}
        </h4>
        <div *ngIf="navItem.subNavigation" class="navigation-subNavigation">
            <div *ngFor="let subNav of navItem.subNavigation " class="navigation-subNavigation-item-container">
                <navigation-item class="subNavigation-item" [navItem]="subNav" routerLink={{subNav.route}}></navigation-item> 
            </div>
        </div>
    </div>
</div>