#list-view-wrapper {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

#list-view {
    width: 75vw;
    display: grid;
    justify-content: center;
    margin: 0 auto;
}

#list-view-category {
    padding: .5rem;
}

#directory {
    width: inherit;
    text-align: left;
    margin: 0 auto;
}

.directory-head-row th{
    
    padding-bottom: 1.5rem;
}
#directory th {
    font-weight: 100;
}

#directory-head-row-table-of-content{
    font-size:1.6rem;
}

.directory-head-row-empty{
}

.directory-head-row-content-title{
    width: 10%;
    font-size: 1.3rem;    
    
}

.directory-head-row-content-category{
    width: 9.4%;
    font-size: 1.3rem;
}

.directory-head-row-content-writtenOn{
    width: 1.3%;
    font-size: 1.3rem;
}

#directory-head-row-table-of-content {
    text-align: center;
    border: none;
}

#dateChanger {
    display: grid;
    justify-content: center;
    align-items: center;
}

#directory tr,
th,
td {
    padding: .3rem;
}


.directory-body-row:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

#directory-head-row-table-of-content tr {
    border-bottom: 0px solid white;
}

.directory-row #directory-head-row-table-of-content {
    padding-bottom: 1.5rem;
}

#sortButtonHead span {
    font-size: 1rem;
}

.sortButtonHead {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.dataChanger {
    border: none;
    background-color: white;
    align-items: center;
}

.dataChanger:hover{
    background-color: whitesmoke;
}

.dataChanger #dropdown-icon {
    font-size: 1rem;
}

.dataChanger{
    padding: 0;
}

#filterRemover {
    font-size: 1rem;
    padding: 0;
}

#categoryChanger {
    border: none;
    background-color: white;
    font-size: 1rem;
    padding: 0;
}

#categoryChanger:hover{
    background-color: whitesmoke;
}

.dropdown-icon {
    height: 1.2rem;
    width: 1.2rem;
}
