html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    height:100vh;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(0,0,0,0.1);
    margin:0;
    padding:0;
}

body footer{
    background-color: rgba(145, 144, 144, 0.4);
    width: 100vw;
}